* {
    box-sizing: border-box;
}
.main-resources{
    padding-top: 50px;
}
.works-main {
    width: 100%;
    max-width: 1400px;
    padding: 40px 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading-btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-bottom: 10px;
    color: white;
    font-weight: 200;
    text-align: start;
    justify-content: space-between;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 12px;
}
.tutorial,
.blogs,
.courses{
    background: linear-gradient(150deg, rgba(23, 34, 58, 0.596), rgb(11, 17, 31));
    width: 443px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(21, 28, 40);
    border-radius: 10px;
    padding: 24px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 8px;
}
.tutorial span,
.blogs span,
.courses span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    gap: 5px;
    border: none;
    background-color: aqua;
    border-radius: 19px;
}
.tutorial h2,
.blogs h2,
.courses h2{
    font-size: medium;
    font-weight: 600;
}
.tutorial h5,
.blogs h5,
.courses h5{
    font-size: 15px;
    color: gray;
    font-weight: 500;
}

@media (max-width: 1400px) {
    .main-resources{
        width: 1041px;
        padding: 0px 50px;
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 1040px) {
    .main-resources{
        width: 719px;
        padding: 0px 50px;
    }
    .heading-btn h2{
        font-size: 22px;
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .tutorial,
    .blogs,
    .courses{
        width: 100%;
    }
}

@media (max-width: 720px) {
    .main-resources{
        width: 380px;
        padding: 0px 50px;
    }
    .heading-btn{
        gap: 8px;
    }
    .heading-btn h2{
        font-size: 16px;
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .tutorial,
    .blogs,
    .courses{
        width: 100%;
    }
    
}

@media (max-width: 380px) {
    .main-resources{
        width: 300px;
    }
    .heading-btn h2{
        font-size: 15px;
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .tutorial,
    .blogs,
    .courses{
        width: 100%;
    }
    
}